<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Themed Dishes</title>
    <link rel="stylesheet" href="../scripts/card.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
</head>

<body>
    <div class="header-container">
        <h1 class="header-text">Your <span style="color: #34cccd">Themed</span> Recipes</h1>
    </div>

    <div class="full-card-container">

        <div class='left-container'></div>

        <div>
            <div id="card-container">
                <!-- Cards will be appended here (defined in the script below)-->
            </div>
        </div>

        <div class='right-container'></div>
    </div>


    <script src="../scripts/card.js"></script>
    <script>
        const cardContainer = document.getElementById('card-container');
        // New cards can be created here using: (title, cooktime, imagelink, pagelink)
        // const recipeCard = new Card('Delicious Recipe', 'image.jpg', 'recipes_template.html');
        // cardContainer.appendChild(recipeCard.render());

        // add cards here.
        const recipeCard = new Card('Japanese Curry', 40, '../static/japanese_curry.jpg', 'recipes_template.html');
        cardContainer.appendChild(recipeCard.render());

        const recipeCard2 = new Card('Tacos', 180, '../static/beef_tacos.jpg', 'recipes_template.html');
        cardContainer.appendChild(recipeCard2.render());

        const recipeCard3 = new Card('Funny Tacos', 60, '../static/beef_tacos.jpg', 'recipes_template.html');
        cardContainer.appendChild(recipeCard3.render());

        const recipeCard4 = new Card('Enchiladas', 60, '../static/beef_tacos.jpg', 'recipes_template.html');
        cardContainer.appendChild(recipeCard4.render());

        const recipeCard5 = new Card('Creamy Curry', 20, '../static/japanese_curry.jpg', 'recipes_template.html');
        cardContainer.appendChild(recipeCard5.render());

        const recipeCard7 = new Card('Steph Currying', 60, '../static/japanese_curry.jpg', 'recipes_template.html');
        cardContainer.appendChild(recipeCard7.render());

        // Need to add text wrapping when the title is too long
        const recipeCard6 = new Card('Japanese Curry (But BETTER)', 50, '../static/japanese_curry.jpg', 'recipe.html');
        cardContainer.appendChild(recipeCard6.render());
    </script>
</body>

</html>